body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  #header {
    text-align: center;
    color: white;
    text-shadow: 5px 2px 3px red, 7px 4px 3px orange, 9px 6px 3px yellow, 11px 8px 3px rgb(0, 199, 0), 13px 10px 3px rgb(0, 102, 255), 15px 12px 3px rgb(196, 94, 255);
  }
  /* BEGIN (write your solution here) */
  
  /* END */
  