body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(186, 125, 255);
  }

  #header {
    text-align: center;
    color: rgb(186, 125, 255);
    text-shadow: 4px 1px 3px white, 5px 2px 3px red, 7px 4px 3px orange, 9px 6px 3px yellow, 11px 8px 3px rgb(0, 199, 0), 13px 10px 3px rgb(0, 102, 255);
  }
  #nav {
    color: white;
  }
  a:link {
    color: white;
  }
  #week {
    text-align: center;
    color: rgb(186, 125, 255);
    text-shadow: 1px 1px 1px white;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  #money {
    text-align: center;
    color: rgb(186, 125, 255);
    text-shadow: 1px 1px 1px white;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  #years {
    text-align: center;
    color: rgb(186, 125, 255);
    text-shadow: 1px 1px 1px white;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }